<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>KM - Hillel!{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
        {#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>#}
        {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>#}
    </head>
    <body>

        <h2><a href="{{ path('main') }}">Home</a> {{'User: ' ~ app.user.username}}</h2>

        {% block body %}
            <header>Base Header</header>
            <header>{% include '@PaladinUser/Security/login.html.twig' with {'error' : null, 'last_username': 'kmorenov'} %}</header>

            <div class="container">
                <div class="main">
                    {% block content %}{{ 'Base Content'| upper }} {% endblock %}
                </div>
            </div>
            <footer>Base Footer</footer>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
