<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>KM - Hillel!{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h2><a href="{{ path('main') }}">Home</a></h2>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
